*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 60%;
    margin: 100px auto;
    position: relative;
}

.container img{
    width: 100%;
}

.item{
    display: none;
}

.active{
    display: block;
}

.fa-solid{
    background-color: rgba(255, 255, 255, 0.436);
    border-radius: 50%;
    padding: 2px;
    font-size: 25px;
    position: absolute;
    cursor: pointer;
}

.fa-arrow-right{
    top: 50%;
    right: 0;
}

.fa-arrow-left{
    top: 50%;
    left: 0;
}